<!DOCTYPE html> <!-- Объявление формата документа -->
<html>
<head> <!-- Техническая информация о документе -->
<meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
<title>Index Page</title> <!-- Задаем заголовок документа -->
<link rel="shortcut icon" href="cogwheel.ico" />  <!-- Устанавливаем иконку страницы -->
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
<link rel="stylesheet" type="text/css" href="mutation.css">
<script type="text/javascript" src="js/script.js" defer></script>
<script type="text/javascript" src="js/mutation.js" defer></script>
</head>

<body>

	<div class="practice">
		<h3>Animated boxes</h3>
		<div class="practice_description">deskription</div>
		<div class="work_place">
			<div class="anim_box box1">Box 1</div>
			<div class="anim_box box2">Box 2</div>
			<div class="anim_box box3">Box 3</div>
			<div class="anim_box box4">Box 4</div>
			<div class="anim_box box5">Box 5</div>
			<button class="anim_box_button button_style">Magic =)</button>
		</div>
	</div>

	<div class="practice">
		<h3>Метод MutationObserver()</h3>
		<div class="practice_description">MutationObserver предоставляет возможность получать уведомления об изменении определённых DOM-элементов.</div>
		<div class="work_place">
			<div class="mutation_object">mutation object</div>
			<button class="butt_mutation button_style">Добавить класс объекту</button>
		</div>
	</div>

	<footer>
		<div class="color_bar">
		  Colors: 
		  <div class="color1"></div>
		  <div class="color2"></div>
		  <div class="color3"></div>
		  <div class="color4"></div>
		  <div class="color5"></div>
		</div>
	</footer>

</body>
</html>