* {
	margin: 0;
	padding: 0;
	font: normal 15px "Lucida Sans Unicode",sans-serif;
	color: #3D405B;
}
body {
	background-color: #F4F1DE;
}
h3 {
	margin-left: 30px;
	font: bold 1.3em "Lucida Sans Unicode",sans-serif;
}

/*---------------------------------------*/
.practice {
	margin: 10px 10%;
	border: 1px solid #3D405B;
	border-radius: 10px;
	padding: 10px;
}
.practice_description {
	padding: 10px;
	margin: 10px 3%;
	border: 1px solid #3D405B;
	border-radius: 10px;
}
.work_place {
	position: relative;
	padding: 10px;
	margin: 10px 3%;
	border: 1px solid #3D405B;
	border-radius: 10px;
}
/*---------------------------------------*/

.anim_box {
	/*width: 20px;
	height: 20px;*/
	position: absolute;
	/*display: inline-block;*/
	padding: 3px 5px;
	background-color: #81B29A;
	border-radius: 5px;
}
.box1 {left:0;}
.box2 {left:70px;}
.box3 {left:140px;}
.box4 {left:210px;}
.box5 {left:280px;}

@keyframes moveBlock {
  from {transform: translateY(0px);}
  30% {transform: translateY(40px);}
  50% {transform: translateY(0px);}
  60% {transform: translateY(10px);}
  70% {transform: translateY(0px);}
  80% {transform: translateY(5px);}
  90% {transform: translateY(0px);}
  95% {transform: translateY(3px);}
  to {transform: translateY(0px);}
}

.animBlock {
  animation: moveBlock  2s 1 ease-in-out;
}
/*---Foter---*/
footer {
	margin: 10px 10%;
}
/*---Colors---*/
.color_bar {
  color: #F1F6F8;
  display: grid;
  width: 180px;
  padding: 10px;
  background: #2D2F31;
  grid-template-columns: repeat(6, 1fr);
}
.color_bar > div {
  border-radius: 15px;
  margin: 0 2px;
  padding: 10px;
}
.color1 {background: #F4F1DE;}
.color2 {background: #E07A5F;}
.color3 {background: #3D405B;}
.color4 {background: #81B29A;}
.color5 {background: #F2CC8F;}