<!DOCTYPE html> <!-- Объявление формата документа -->
<html>
<head> <!-- Техническая информация о документе -->
<meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
<title>Index Page</title> <!-- Задаем заголовок документа -->
<link rel="shortcut icon" href="cogwheel.ico" />  <!-- Устанавливаем иконку страницы -->
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
<script type="text/javascript" src="js/script.js" defer></script>
</head>

<body>

	<div class="practice">
		<h3>Алгоритмы шифрования</h3>
		<div class="practice_description">вывод в консоли</div>
		<div class="work_place">
			work place
			<div class="output"></div>
			<input class="input_pass" type="text">
			<input class="genegate" type="button" value="Сгенерировать">
		</div>
	</div>

	</div>

	<footer>
		<div class="color_bar">
		  Colors: 
		  <div class="color1"></div>
		  <div class="color2"></div>
		  <div class="color3"></div>
		  <div class="color4"></div>
		  <div class="color5"></div>
		</div>
	</footer>

</body>
</html>