* {
	margin: 0;
	padding: 0;
	font: normal 15px "Lucida Sans Unicode",sans-serif;
	color: #3D405B;
}
:root {
	--clr1: #F4F1DE;
	--clr2: #E07A5F;
	--clr3: #3D405B;
	--clr4: #81B29A;
	--clr5: #F2CC8F;
}
body {
	background-color: #F4F1DE;
}
h3 {
	margin-left: 30px;
	font: bold 1.3em "Lucida Sans Unicode",sans-serif;
}

/*---------------------------------------*/
.practice {
	margin: 10px 10%;
	border: 1px solid #3D405B;
	border-radius: 10px;
	padding: 10px;
}
.practice_description {
	padding: 10px;
	margin: 10px 3%;
	border: 1px solid #3D405B;
	border-radius: 10px;
}
.work_place {
	padding: 10px;
	margin: 10px 3%;
	border: 1px solid #3D405B;
	border-radius: 10px;
}
/*---------------------------------------*/

.output {
	margin: 10px 10px;
	border: 1px solid #3D405B;
	border-radius: 10px;
	padding: 10px;
}

/*---Foter---*/
footer {
	margin: 10px 10%;
}
/*---Colors---*/
.color_bar {
  color: #F1F6F8;
  display: grid;
  width: 180px;
  padding: 10px;
  background: #2D2F31;
  grid-template-columns: repeat(6, 1fr);
}
.color_bar > div {
  border-radius: 15px;
  margin: 0 2px;
  padding: 10px;
}
.color1 {background: var(--clr1);}
.color2 {background: var(--clr2);}
.color3 {background: var(--clr3);}
.color4 {background: var(--clr4);}
.color5 {background: var(--clr5);}